.main_top{
      
        color: white;
        width:1630px;    
        text-align:center;
        font-size: 1em;
}
input{
        font-size: 40px;
        width: 620px;
        
}
button{
        outline-style: none;
        
        outline-color: blue;
        font-size: 50px;
        width: 610px;
}

body{
        background-image: url("photos/fone.jpg");
}


.leftTo{

        padding-left: 50%;
}





a{
        text-decoration: none;
}
      
nav {
        font-family: monospace;
}
      
ul{
        background: darkorange;
        list-style: none;
        margin: 0;
        padding-left: 0;
}
      
li{
        color: #fff;
        background: darkorange;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
}
        
li a {
        color: #fff;
}
      
li:hover{
        background: red;
        cursor: pointer;
}
      
ul li ul{
        background: orange;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
}
      
ul li:hover > ul,ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
}
      
ul li ul li {
        clear: both;
        width: 100%;
}